/* إعدادات عامة لجميع عناصر الصفحة لإزالة الهوامش الافتراضية */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* تنسيق الجسم الأساسي (Body) */
body {
    background-color: #f4f4f4; /* لون خلفية فاتح */
    line-height: 1.6;
    color: #333;
}

/* حاوية المحتوى (Container) لتوسيط العناصر في منتصف الشاشة */
.container {
    width: 80%;
    margin: 0 auto;
   
}

/* تنسيق الهيدر (Header) */
header {
    background: #35424a; /* لون خلفية غامق */
    color: #ffffff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid; /* خط سفلي برتقالي */
}
header .container
{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
  
}

header nav {
    float: left; /* محاذاة القائمة لليسار */
}

header ul {
    list-style: none; /* إزالة النقاط من القائمة */
}

header li {
    display: inline; /* عرض عناصر القائمة بجانب بعضها */
    margin-left: 20px;
}

header a {
    color: #ffffff;
    text-decoration: none; /* إزالة الخط تحت الروابط */
    font-weight: bold;
}

/* تنسيق قسم الـ Hero (العرض الرئيسي الجذاب) */
.hero {
    height: 300px;
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* تنسيق الأزرار (Buttons) */
.btn {
    display: inline-block;
    background: #e8491d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #333; /* تغيير اللون عند مرور الماوس */
}

/* تنسيق قسم المميزات (Features) */
.features {
    padding: 40px 0;
}

.feature-box {
    float: right;
    width: 33.3%;
    padding: 10px;
    text-align: center;
}

/* تنسيق الفوتر (Footer) */
footer {
    padding: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
    clear: both; /* لضمان نزول الفوتر تحت العناصر العائمة */
}
